body {
    background-color: rgb(245, 246, 247);
}

/* NavBar Css */
.container {
    border: 2px solid transparent;
    background-image: url("bgimage.png");
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.mar {
    display: inline-block;
    margin-left: 500px;
}

li {
    display: inline-block;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: rgb(249, 249, 248);
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li a:hover {
    background-color: rgb(210, 210, 210);
    color: black;
    padding: 5px 10px;
    text-shadow: 3px 3px 5px rgb(172, 165, 249);
}

.logo {
    display: inline-block;
    margin-left: 50px;
    color: rgb(253, 253, 251);
    
    font-size: 20px;
    font-weight: 800;
    justify-content: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo:hover {
    transform: scale(1.1);
    color: rgb(5, 5, 5);
    text-shadow: 3px 3px 5px rgb(243, 57, 57);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* NavBar End */

.check{
    margin-top: 40px;
}
.box {
    margin-left: 150px;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    height: 100%;
    width: 80%;

}
.register{
    margin-left: 320px;
    margin-top: 90px;
}

.tin {
   
    border: 2px solid transparent;
    height: 260px;
    width: 100%;
    margin: 10px;
    
}



/* Body started */

.container2 {
    padding: 80px 20px;
    border: 2px solid transparent;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(56, 55, 55);
    background-color: rgb(234, 235, 235);
}
/* Body End */

/* Footer started */
.end{
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding:80px 20px ;
}
.end input{
    background-image: url("mail.svg");
    background-repeat: no-repeat;
    
    background-position: right 10%;
}

.ends{
    
    border: 2px solid rgb(170, 168, 168);

    padding: 50px 150px;
    background-color: rgb(170, 168, 168);
}

/* Footer End */